<h1> Create new book </h1>

<form action="/books" method="post">

  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title"><br>

  <label for="desc">Desc:</label><br>
  <input type="text" id="desc" name="desc"><br>

  <label for="author_id">Author id: </label><br>
  <input type="text" id="author_id" name="author_id"><br>
  <br>

  <input type="submit" name="submit" value="Create Book">
</form>
