<% if flash[:message] %>
  <div style="color: red;">
    <ul>
      <h3>
        Error(s) on Title:
      </h3>
      <% flash[:message]["title"].each do |err| %>
        <li>
          <%= err %>
        </li>
      <% end %>
    </ul>

  </div>
<% end %>

<h1> All books </h1>

<% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book) %>
  </li>
<% end %>
